@import url(./__content/page__content.css);


  .page {
    background-color: #2A2C2F;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }

 
