.header__logo {
    box-sizing: border-box;
    object-fit: cover;
    width: 176px;
    box-sizing: border-box;

    
}

@media screen and (max-width: 375px){
    .header__logo {
      width: 142px;
      height: 42px;
      margin-right: 84px;
    }
  }
